# Ignore all files in the 'secret' directory - GCP Key and environment files
secret/*

# Ignore environment files
# .env

__pycache__/
.coverage
.vscode
/data
/logs
temp_env/

ML_Models/experiments/experiments/mlruns/
*.pkl
SCO_LOG
ML_Models/.env

/Data.csv