# Ignore all files in the 'secret' directory - GCP Key and environment files
secret/*

# Ignore environment files
.env
/.env

/temp_env/
/transactions_20190103_20241231.xlsx
/messy_transactions_20190103_20241231.xlsx
/cleaned_data.csv
/data_processing.ipynb
__pycache__/
__init__.py
.coverage
.vscode
/Data-Pipeline/logs/
SCO_LOG/
*.dvc
/data
/transaction
/logs
/dataValidation.py