# Ignore all files in the 'secret' directory - GCP Key
secret/*
data/*
transaction/*
/temp_env/
/transactions_20190103_20241231.xlsx
/messy_transactions_20190103_20241231.xlsx
/cleaned_data.csv
/data_processing.ipynb
/Data-Pipeline/logs/
.env